*{
	/*border: 1px black solid;*/
}
body{
	/*background-color: maroon;*/
	width: 90vw;
	height: 90vh;
	margin: 5vh auto;
}
header{
	width: 100%;
	height: 20%;
	background-color: grey;
	display: flex;
	justify-content: space-between;

}
.screen{
	width: 70%;
	background-color: cornsilk;
	text-align: right;
}
.clear{
	width: 20%;
	background-color: red;
}
main{
	display: flex;
	justify-content: space-between;
	height: 70vh;
	background-color: grey;
}
.numbers{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
}
.ops{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.num-button{
	width: 30%;
	height: 100%;
	background-color: blue;
}
.row{
	height: 20%;
	display: flex;
	justify-content: space-between;
}
.ops .button{
	height: 15%;
	width: 100%;
	text-align: center;
	background-color: green;
}